.section-comments {
  .comment--view-mode-default {
    &:nth-child(odd) {
      &:before {
        background-color: rgba(0,0,0,.2);
      }
    }
    &:nth-child(even) {
      &:before {
        background-color: rgba(255,255,255,.05);
      }
    }
  }
  .notyet {
    display: flex;
    justify-content: center;
    padding: 2rem;
    p {
      font-size: 1.25rem;
    }
  }
}
.comment--view-mode-full {
  &:before {
    background-color: rgba(0,0,0,.2);
  }
}
.comment--view-mode-default,
.comment--view-mode-full {
  position: relative;
  padding: 2rem 1rem 2.5rem;
  z-index: 1;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .links {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: .75rem;
    a {
      display: block;
      font-size: var(--small);
      color: var(--white);
      margin-bottom: .25rem;
    }
  }
  .field--name-comment-author {
    margin-bottom: .5rem;
    color: var(--blue-secondary);
  }
  .field--name-comment-post-date {
    text-align: right;
    color: var(--blue-ui);
    font-size: var(--small);
    margin-bottom: .5rem;
  }
}

.comment-section {
  margin-top: 4rem;
  .form-item-name {
    width: 40%;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
  .js-form-item {
    display: flex;
    flex-direction: column;
    .form-label {
      color: var(--white);
    }
  }
  .comment-comment-form {
    .js-form-item {
      margin-top: 1rem;
    }
    .label-form {
      margin-bottom: .5rem;
      color: var(--white);
    }

    .field--name-comment-body {
      color: var(--black);
      .ck-content {
        min-height: 9rem;
      }
    }
    .js-filter-wrapper {
      display: none;
    }
  }
  .form-actions {
    display: flex;
    gap: .5rem;
    margin-top: 1.5rem;
    #edit-preview {
      display: none;
    }
    .form-submit {
      appearance: none;
      padding: .5rem .75rem;
      border-radius: .75rem;
      border: 0;
      &.button--primary {
        color: var(--white);
        background: linear-gradient(99deg, rgba(169,80,198,1) 0%, rgba(71,163,174,1) 100%) border-box;
      }
    }
  }
}

.indented {
  margin-left: 3rem;
  .comment--view-mode-default {
    padding: 1rem;
    &:before {
      background-color: rgb(36 48 71 / 50%)!important;
    }
    .links {
      display: none;
    }
  }
}

// PAGE DE REPLY

.comment-comment-form {
  margin-top: 2rem;
  .label-form {
    color: var(--white);
  }
  .js-form-type-textarea {
    color: var(--black);
  }
  .js-filter-wrapper {
    display: flex;
    justify-content: flex-end;
  }
  .form-actions {
    display: flex;
    gap: 1rem;
    .btn-primary {
      @extend .secondary-btn;
    }
  }
}

.ck-editor__editable  {
  min-height: 10rem;
}
