{#
/**
 * @file
 * Template for the comment field.
 */
#}
<section class="section-comments">
  {{ title_prefix }}
  {{ title_suffix }}

  {% if comments %}
    {{ comments }}
  {% else %}
  <div class="notyet">
    <p>Envie d'échanger sur cet article ? N'hésitez pas !</p>
  </div>
  {% endif %}



  {% if comment_form %}
    <div class="card comment-section">
      <div class="card-header">
        <p>Rédiger un commentaire</p>
      </div>
      <div class="card-body">
        {{ comment_form }}
      </div>
    </div>
  {% endif %}

</section>
