.comment-section {
  padding: 2rem;
  background-color: var(--blue-uidark);
  @include media-breakpoint-down(md) {
    padding: 1rem;
  }
  .card-header {
    p {
      font-size: var(--s3);
      font-family: var(--font-family-heading);
    }
  }
}
