.nav-link {
  display: block;
  position: relative;
  color: var(--white);
  font-size: 1.15rem;
  text-decoration: none;
  transition: .35s ease-in-out;
  &.is-active {
    color: var(--pink);
  }
  &:after {
    content: '';
    position: absolute;
    display: block;
    bottom: -2px;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 0;
    opacity: 0;
    background-color: var(--pink);
    box-shadow: 0 0 16px 6px var(--pink);
    transition: .35s ease-in-out;

  }
  &:hover,
  &:active {
    transition: .35s ease-in-out;
    color: var(--white);
    &:after {
      opacity: 1;
      bottom: 10px;
      transition: .35s ease-in-out;
    }
  }
}

