@mixin tag-format {
  font-size: var(--small);
  text-decoration: none;
  text-align: center;
  width: fit-content;
  height: fit-content;
  border-radius: 2rem;
  padding: .45rem .85rem;
  @include media-breakpoint-down(md) {
    font-size: 0.75rem;
  }
}

.field--name-field-tags {
  gap: .5rem;
  flex-wrap: wrap;
  .field__item {
    @include tag-format;
    color: var(--white);
    background-color: var(--purple);
    // box-shadow: 0 0 0 1px var(--purple-neon);
  }
}

.tag-label {
  display: flex;
  gap: 1rem;
  p,
  .field--type-string,
  .field--type-entity-reference {
    @include tag-format;
    color: var(--pink);
    background-color: var(--blue-uidark);
  }
}
