{#
/**
 * @file
 * Display Suite 1 column template.
 *
 * Available variables:
 * - ds_content_wrapper: wrapper around content
 * - attributes: content region attributes
 * - ds_content: content region
 */
#}
<{{ ds_content_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix') }}>

  {% if not comment_author %}
  <div class="field--name-comment-author">
    La passe-livre
  </div>
  {% endif %}
  {{ ds_content }}

</{{ ds_content_wrapper }}>
