// Define your custom mixins here.
// -----------------------------------------------------------------------------

@mixin fullwidthcontent {
  width: 100vw;
  position: relative;
  left: calc(-1 * (100vw - 100%) /2);
}
