:root {

  --black: #191919;
  --white: #FFFFFF;
  --blue-darker: #131139;
  --blue-ui: #445071;
  --blue-uidark: #333c52; //btn
  --blue-uidarker: #171c28; //btn secondary
  --blue-secondary: #8a97e9; // link
  --gray-secondary: #6e6e73; // txt secondaire
  --purple: #46226a;
  --pink: #eb83ca;
  --green: #a2fc78;
  --orange: #fc8b05;
  --font-family-base: "Lato", sans-serif;
  --font-family-heading: "Libre Baskerville", sans-serif;
  --s1: 2.5rem;
  --s2: 2rem;
  --s3: 1.25rem;
  --s4: 1.15rem;
  --s5: 1rem;
  --font-base: 1rem;
  --small: .85rem;
  --xsmall: .7rem;
}
