.page__header {
  padding-top: 2rem;
  margin-bottom: 2rem;
  @include media-breakpoint-down(md) {
    padding-top: 1rem;
  }
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.block--system-branding {
  display: flex;
  justify-content: center;
}
.navbar {
  display: flex;
  justify-content: center;
}
