.page__header {
  margin: 2rem 0;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.block--system-branding {
  display: flex;
  justify-content: center;
}
.navbar {
  display: flex;
  justify-content: center;
}
