.page__header {
  padding-top: 3rem;
  margin-bottom: 4rem;
  @include media-breakpoint-down(md) {
    padding-top: 1rem;
  }
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.block--system-branding {
  display: flex;
  justify-content: center;
}
.navbar {
  display: flex;
  justify-content: center;
}

.sitename {
  margin-bottom: 0;
  a {
    font-size: 1.25rem;
    color: var(--white);
    text-decoration: none;
  }
}
